_vendor/
public/
resources/
exampleSite/public/
exampleSite/resources/
test-results/
.DS_store
.hugo_build.lock
hugo_stats.json

# Go workspace file
go.work
go.work.sum

# env file
.env

# Ignore log files
*.log

# Ignore node_modules
node_modules/

# Ignore playwright-report directory
playwright-report/
