{{- $ratio := .Get "ratio" | default "auto" -}}
{{- $ratioThumbnail := .Get "ratioThumbnail" | default "auto" -}}
{{- $loading := .Get "loading" | default "lazy" -}}

<!-- Initialize $images to prevent the undefined variable error -->
{{- $images := .Page.Params.Resources -}}

{{- $currentImageIndex := 0 -}}

<div class="container-fluid">
<div class="slideshow-gallery">
  <!-- Lightbox Viewport -->
  <div class="lightbox-viewport">
    <div class="slideshow-lightbox-container">
      {{- range $index, $image := $images -}}
        {{ if eq $index 0 }}
          {{ $loading = "eager" }}
        {{ end }}
        {{- with resources.Get $image.src -}}
          {{ $imageUrl := .RelPermalink }}
          {{ $title := $image.title }}
          {{ $description := $image.params.description }}
          {{ if $description }}
            {{ $title = printf "%s\n%s" $title $description }}
          {{ end }}
          {{ $imageClass := $image.params.cssClass }}
          <div class="slideshow-image-gallery-item">
            {{ partial "assets/helpers/image-definition.html" (dict "src" $imageUrl "ratio" $ratio "page" $.Page "class" $imageClass "loading" $loading "title" $title) }}
          </div>
        {{- end -}}
      {{- end -}}
    </div>
    <!-- Add navigation buttons -->
    <button class="slideshow-prev-button w3-text-white">❮</button>
    <button class="slideshow-next-button w3-text-white">❯</button>
    <!-- Add fullscreen button -->
    <button class="slideshow-fullscreen-button w3-text-white">&#x26F6;</button>
    <!-- Add current index and title span -->
    <span class="lightbox-current-index"></span>
  </div>

  <div class="slideshow-caption-container">
  </div>

  <!-- Thumbnail images -->
  <div class="slideshow-thumbnail-row">
    {{- range $index, $image := $images -}}
      {{ if eq $index 0 }}
        {{ $loading = "eager" }}
      {{ end }}
      {{- with resources.Get $image.src -}}
        {{ $imageUrl := .RelPermalink }}
        {{ $title := $image.title }}
        {{ $imageClass := "slideshow-thumbnail-image cursor" }}
        <div class="slideshow-thumbnail-column">
          {{ partial "assets/helpers/image-definition.html" (dict "src" $imageUrl "page" $.Page "ratio" $ratioThumbnail "class" $imageClass "loading" $loading "title" $title) }}
        </div>
      {{- end -}}
    {{- end -}}
</div>
</div>