{{- $ratio := .Get "ratio" | default "auto" -}}
{{- $loading := .Get "loading" | default "lazy" -}}

<!-- Initialize $images to prevent the undefined variable error -->
{{- $images := .Page.Params.Resources -}}

{{- $currentImageIndex := 0 -}}

<div class="slideshow-gallery">
  <div class="lightbox-viewport">
    <div class="slideshow-lightbox-container">
      {{- range $index, $image := $images -}}
        {{- with resources.Get $image.src -}}
          {{ $imageUrl := .RelPermalink }}
          {{ $title := $image.title }}
          {{ $description := $image.params.description }}
          {{ if $description }}
            {{ $title = printf "%s\n%s" $title $description }}
          {{ end }}
          {{ $imageClass := $image.params.cssClass }}
          <div class="slideshow-image-gallery-item">
            {{ partial "assets/image.html" (dict "url" $imageUrl "ratio" $ratio "page" $.Page "class" $imageClass "loading" $loading "title" $title) }}
          </div>
        {{- end -}}
      {{- end -}}
    </div>
    <!-- Add navigation buttons -->
    <button class="slgprev w3-text-white">❮</button>
    <button class="slgnext w3-text-white">❯</button>
    <!-- Add fullscreen button -->
    <button class="slgfullscreen w3-text-white">&#x26F6;</button>
    <!-- Add current index and title span -->
    <span class="lightbox-current-index"></span>
  </div>

  <div class="slgcaption-container">
  </div>

  <!-- Thumbnail images -->
  <div class="slgrow">
    {{- range $index, $image := $images -}}
      {{- with resources.Get $image.src -}}
        {{ $imageUrl := .RelPermalink }}
        {{ $title := $image.title }}
        {{ $description := $image.params.description }}
        {{ if $description }}
          {{ $title = printf "%s&#x0d;&#x0a;%s" $title $description }}
        {{ end }}
        {{ $imageClass := $image.params.cssClass }}
        <div class="slgcolumn">
          <img src="{{ $imageUrl }}" class="slgdemo cursor" alt="{{ $title }}">
        </div>
      {{- end -}}
    {{- end -}}
</div>
